<nav [ngClass]="'parent-menu'" class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <ul class="navbar-nav mr-auto">
        <!-- ****** [routerLink]="['.']" ***** in base alla routes dell'auth-routing.module, apre il component padre [MenuComponent]-->
        <li><a [routerLink]="['home']" class="nav-item nav-link nav-link-ltr" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li><a [routerLink]="['reservation']" class="nav-item nav-link nav-link-ltr" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Prenota</a></li>
        <li><a [routerLink]="['about']" class="nav-item nav-link nav-link-ltr" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a></li>
      </ul>
    </div>
    <div class="navbar-nav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fa fa-user"></i> {{user}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br />
<router-outlet></router-outlet>
