.parent-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.parent-menu ul {
  list-style-type: none;
}

.parent-menu li {
  float: left;
}

.nav-link {
  margin: 0px 10px;
  position: relative;
  display: block;
  color: #000;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  opacity: 0.75;
}

.parent-menu .active {
  opacity: 1;
  border-bottom: 5px solid #000;
  content: " ";
}

.parent-menu li a:hover:not(.active) {
  color: #111;
}

.nav-link:hover {
  opacity: 1;
}

/*.nav-link::before{*/
/*  transition: 300ms;*/
/*  height: 5px;*/
/*  content: "";*/
/*  position: absolute;*/
/*  background-color: #000;*/
/*}*/

/*.nav-link-ltr::before {*/
/*  bottom: 10px;*/
/*}*/

/*.nav-link-ltr:hover::before {*/
/*  width: 65%;*/
/*}*/



/*.parent-menu ul {*/
/*  list-style-type: none;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  overflow: hidden;*/
/*  background-color: #333;*/
/*}*/
/*.parent-menu li {*/
/*  float: left;*/
/*}*/
/*.parent-menu li a {*/
/*  display: block;*/
/*  color: white;*/
/*  text-align: center;*/
/*  padding: 15px 15px;*/
/*  text-decoration: none;*/
/*}*/
/*.parent-menu li a:hover:not(.active) {*/
/*  background-color: #111;*/
/*}*/
/*.parent-menu .active{*/
/*  background-color: #4CAF50;*/
/*}*/
