<!-- TODO Gestire se non ci sono prenotazioni per la giornata odierna
     TODO Inserire filtro di ricerca per data
     TODO Inserire filtro ricerca colonne e ordinamento
-->
<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>
      <th>Data Prenotazione</th>
      <th>Nome Cliente</th>
      <th>Cognome Cliente</th>
      <th>Email Cliente</th>
      <th>Num. Tel Cliente</th>
      <th>Numero Persone</th>
      <th>Note</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{reservation.dateTimeC | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td>{{reservation.nameC}}</td>
        <td>{{reservation.surnameC}}</td>
        <td>{{reservation.emailCustomer}}</td>
        <td>{{reservation.telC}}</td>
        <td>{{reservation.numberOfPeople}}</td>
        <td>{{reservation.note}}</td>
      </tr>
    </tbody>
  </table>
</div>
