<div class="row">
  <div style="float: none; margin: 0 auto; width: 400px">
    <!-- utilizzato class perchè ngClass permette una sola classe css -->
    <div class="alert" [ngClass]="{'alert-danger': showError, 'alert-success': showSuccess}" >
      {{message}}
    </div>
    <form class="form-horizontal" novalidate [formGroup]="registerForm" (ngSubmit)="save()">
      <legend style="margin: 3%;margin-bottom: 0">Registrati</legend>
      <hr style="width: 400px;margin-left: 3%;margin-top: 0"/>
        <div class="col-md-12">
          <div class="form-group input-effect">
            <input type="text" class="effect-22" name="restaurantName"
                   id="restaurantName"  formControlName="restaurantName"
                   [ngClass]="displayFieldCss('restaurantName')">
            <app-field-error [displayError]="isFieldValid('restaurantName')" errorMsg="Nome Ristorante campo obbligatorio"></app-field-error>
            <label>Nome Ristorante</label>
            <span class="focus-bg"></span>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group input-effect">
            <input type="text" class="effect-22" name="email" id="email" formControlName="email" [ngClass]="displayFieldCss('email')">
            <app-field-error [displayError]="isFieldValid('email')" errorMsg="Email non valida"></app-field-error>
            <label>E-mail</label>
            <span class="focus-bg"></span>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group input-effect">
            <input type="password" class="effect-22" name="password"
                   id="password" [ngClass]="displayFieldCss('password')" formControlName="password" maxlength="20">
            <app-field-error [displayError]="isFieldValid('password')" errorMsg="Password non valida."></app-field-error>
            <label>Password</label>
            <span class="focus-bg"></span>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group input-effect">
            <input type="password" class="effect-22" name="confirmPassword"
                   id="confirmPassword" [ngClass]="displayFieldCss('confirmPassword')" formControlName="confirmPassword">
            <app-field-error [displayError]="isFieldValid('confirmPassword')" errorMsg="Le passwords non sono uguali."></app-field-error>
            <label>Conferma Password</label>
            <span class="focus-bg"></span>
          </div>
        </div>

      <div class="form-row text-center">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success">Registrati</button>
          &nbsp;
          <a routerLink="/gpar/login" routerLinkActive="active" class="btn btn-link">Login</a>
        </div>
      </div>

    </form>
  </div>
</div>


