html, body {
  border: 0; margin: 0; padding: 0;
}

body {
  font: 14px "Lato", Arial, sans-serif; min-width: 100%; min-height: 100%; color: #666;;
}

:focus{outline: none;}

.col-md-10{
  margin: 40px 5%; position: relative;
}
input {
  font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 300px; box-sizing: border-box; letter-spacing: 1px;
}

.effect-22{
  border: 0; padding: 7px 15px; border: 1px solid #ccc; position: relative; background: transparent;
}

.effect-22 ~ .focus-bg{
  position: absolute; left: 15px; top: 0; width: 0; height: 40px; background-color: transparent; transition: 0.4s; z-index: -1;
}
.effect-22:focus ~ .focus-bg, .has-content.effect-22 ~ .focus-bg{
  transition: 0.4s; width: 300px; background-color: #ededed;
}
.effect-22 ~ label{
  position: absolute; left: 20px; width: 100%; top: 10px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;
}
.effect-22:focus ~ label, .has-content.effect-22 ~ label{
  top: -16px; left: 20px; font-size: 10px; color: #333; transition: 0.3s;
}

.control-field-error {
  border-color: #d00;
}
.control-field-success {
  border-color: #0d0;
}
