<div class="row">
  <div style="float: none; margin: 10px auto; width: 400px">
    <div *ngIf="showError" class="alert alert-danger">
      Username o password errati.
    </div>
    <form class="form-horizontal" novalidate (ngSubmit)="onLogin(userForm)" [formGroup]="userForm">
      <legend style="margin: 3%;margin-bottom: 0">Login</legend>
      <hr style="width: 400px;margin-left: 3%;margin-top: 0"/>
      <div class="form-group">
        <div class="col-md-10 input-effect">
          <input class="effect-16" type="text" placeholder="" name="username" formControlName="username">
          <label>Username</label>
          <span class="focus-border"></span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-10 input-effect">
          <input class="effect-16" type="password" placeholder="" name="password" formControlName="password">
          <label>Password</label>
          <span class="focus-border"></span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-10 ">
          <button type="submit" class="btn btn-success" [disabled]="userForm.invalid || userForm.pristine">Login</button>
          &nbsp;
          <a routerLink="/gpar/signup" routerLinkActive="active" class="btn btn-link">Registrati</a>
        </div>
      </div>
    </form>
  </div>
</div>

