html, body {
  border: 0; margin: 0; padding: 0;
}

body {
  font: 14px "Lato", Arial, sans-serif; min-width: 100%; min-height: 100%; color: #666;;
}

:focus{outline: none;}

.col-md-10{
   margin: 40px 5%; position: relative;
}
input {
  font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 290px; box-sizing: border-box; letter-spacing: 1px;
}

.effect-16{
  border: 0; padding: 4px 0; border-bottom: 1px solid #ccc; background-color: transparent; margin-left: -15px;
}

.effect-16 ~ .focus-border{
  position: absolute; bottom: 0; left: 3px; width: 0; height: 2px; background-color: #3399FF; transition: 0.4s;
}
.effect-16:focus ~ .focus-border, .has-content.effect-16 ~ .focus-border{
  width: 300px; transition: 0.4s;
}
.effect-16 ~ label{
  position: absolute; left: 3px; width: 100%; top: 9px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;
}
.effect-16:focus ~ label, .has-content.effect-16 ~ label{
  top: -16px; font-size: 10px; color: #3399FF; transition: 0.3s;
}

